$heightToolbar: 50px;
$fontSizeIcons: 20px;

.container {
    .toolbar {
        background-color: #2676d2;
        color: #FFF;
        height: $heightToolbar;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .menu-icon {
            font-size: $fontSizeIcons;
            margin: 0 20px;
        }
    }

    .sidenav {
        min-width: 60px;
        height: 100vh;
        background-color: #FFF;
        color: #757575;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
        position: fixed;
        top: $heightToolbar;
        left: 0;
        right: auto;
        bottom: 0;

        .menu-item {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;

            .icon {
                font-size: $fontSizeIcons;
            }
        }
    }

    .content {}
}
